@font-face {
    font-family: 'SolaimanLipi';
    src: url('hinted-subset-SolaimanLipiLight.eot');
    src: local('SolaimanLipi'), local('SolaimanLipiLight'),
    url('hinted-subset-SolaimanLipiLight.eot?#iefix') format('embedded-opentype'),
    url('hinted-subset-SolaimanLipiLight.woff2') format('woff2'),
    url('hinted-subset-SolaimanLipiLight.woff') format('woff'),
    url('hinted-subset-SolaimanLipiLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}