@import '../../assets/styles/GlobalStyles';


.featureContainer {
  font-size: 1.3rem;
  width: 95%;
  margin: 70px auto 70px auto;
  text-align: justify;
}

.featureContainer:not(:last-of-type) {
  margin-bottom: 100px;
}

.img1 {
  width: 250px;
  height: auto;
  display: block;
  margin-left: -5px;
}

.img2 {
  width: 290px;
  height: auto;
  display: block;
  margin-left: -5px;
}

@media only screen {
  @media (max-width: $sm) {

  }

  @media (min-width: $sm) and (max-width: $md) {
    .img1 {
      width: 350px;
    }

    .img2 {
      width: 380px;
    }

    .featureContainer {

      h2 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.5rem;
      }

    }
  }


  @media (min-width: $md) {
    .img1 {
      margin: auto;
    }
  }


  @media (min-width: $md) and (max-width: $lg) {
    .img1 {
      width: 250px;
      margin-left: -15px;
    }

    .img2 {
      width: 370px;
      margin-left: 10px;
    }

    .featureContainer {
      width: 95%;


      p {
        font-size: 1.35rem;
      }

    }
  }


  @media (min-width: $lg) and (max-width: $xl) {
    .img1 {
      width: 265px;
    }

    .img2 {
      width: 390px;
      margin-left: -10px;
    }


    .featureContainer {
      width: 90%;

      p {
        font-size: 1.35rem;
      }

    }
  }

  @media (min-width: $xl) {
    .img1 {
      width: 300px;
    }

    .img2 {
      width: 450px;
      margin-left: 25px;
    }

    .featureContainer {
      width: 75%;

      h2 {
        font-size: 2.7rem;
      }

      p {
        margin-top: 20px;
        font-size: 1.7rem;
      }

    }
  }
}