@import "../../assets/styles/Variables";

.footer {
  background-color: #202020;
  padding: 20px 10px;
  margin-top: 100px;
}

.copyLeft {
  display: inline-block;
  text-align: right;
  margin: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.mainDiv {
  color: white;


  i {
    color: red;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }
}


@media only screen {
  @media (max-width: $sm) {

  }

  @media (min-width: $sm) and (max-width: $md) {

  }

  @media (min-width: $md) and (max-width: $lg) {

  }


  @media (min-width: $lg) and (max-width: $xl) {

  }

  @media (min-width: $xl) {

  }
}