@import "../../assets/styles/Variables";

.fontTitle {
  font-size: 2.5rem;
}

.fontCopyDiv {
  position: relative;
}

.copyText {
  position: absolute;
  top: 0;
  right: 0;
}

.codeCopy {
  position: relative;

  button {
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 2px 7px;
  }
}

.icons {
  /*position: absolute;
  top: -15px;
  left: -70px;
  */
  color: rgba(58, 58, 58, 0.33);
  font-size: 2.5rem;
  position: absolute;
  left: -70px;
}

.divider {
  border: none;
  //width: 50%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.07);
}

.fontPreview {
  position: relative;
  margin-top: 80px;
  margin-bottom: 20px;

  p {
    font-size: 2rem;
    margin: 0;
  }
}

.fontPara {
  position: relative;
  margin-top: 70px;

  textarea {
    resize: none;
    background-color: rgba(131, 131, 131, 0.05);
    border: none;
    height: 300px;
    word-break: keep-all;
    font-size: 1.5rem;
    line-height: 2.6rem;
    display: inline-block;
    //box-sizing: content-box;
    padding: 20px;
    border-radius: 10px;

    //overflow-y: scroll;
    //padding-right: 50px;
    width: 100%;
    margin-bottom: 10px;
    //border: 1px solid black;
  }

  textarea:last-of-type {
    margin-bottom: 35px;
  }

  textarea:focus {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.13);
    outline: none;
    transition: box-shadow 0.25s;
  }
}


.fontInstruction {
  position: relative;
  margin-top: 35px;
}

.fontDetails {
  position: relative;
  left: 0;
  margin-top: 15px;

  h5 {
    margin-top: -3px;
    font-size: 1.5rem;
  }

}


@media only screen {
  @media (max-width: $sm) {
    .divider {
      //width: 70%;
    }

    .icons {
      display: none;
    }
  }

  @media (min-width: $sm) and (max-width: $md) {

    .icons {
      display: none;
    }


    .fontTitle {
      font-size: 2.7rem;
    }

    .divider {
      //width: 70%;
    }
  }

  @media (min-width: $md) and (max-width: $lg) {
    .fontTitle {
      font-size: 2.9rem;
    }

    .fontPara {
      textarea {
        font-size: 1.6rem;
        line-height: 2.7rem;
      }
    }


    .fontPreview {
      p {
        font-size: 2.6rem;
      }
    }
  }


  @media (min-width: $lg) and (max-width: $xl) {
    .fontTitle {
      font-size: 3.2rem;
    }

    .fontPara {
      textarea {
        font-size: 1.75rem;
        line-height: 2.9rem;
      }
    }

    .fontPreview {
      p {
        font-size: 2.6rem;
      }
    }

  }

  @media (min-width: $xl) {
    .fontTitle {
      font-size: 3.5rem;
    }

    .fontPara {
      textarea {
        font-size: 1.9rem;
        line-height: 3rem;
      }
    }

    .fontPreview {
      p {
        font-size: 2.5rem;
      }
    }
  }
}