@import "./Variables";

.cbtn {
  border: none;
  z-index: 10;
  padding: 8px 70px;
  font-size: 1.4rem;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0);
  box-sizing: content-box;
  transition: all 0.25s ease-in-out;
}

.cbtn-orange {
  background-image: linear-gradient(150deg, #dbcd1e, #dbb000, #fb8d00, #fb6e00);
  background-size: 150% 100%;
  box-shadow: 0px 5px 15px rgba(229, 140, 12, 0.2);
}

.cbtn-orange:hover {
  background-position: 100% 0;
  box-shadow: 0px 5px 20px rgba(229, 140, 12, 0.4);
}

.cbtn-orange:focus {
  outline: none;
}



.cbtn-outline-orange {
  color: $primaryColor;
  position: relative;
  border: 2px solid $primaryColor;
}

.cbtn-outline-orange:hover {
  color: black;
  position: relative;
  border: 2px solid $secondaryColor;
  background-color: $secondaryColor;
  box-shadow: 0px 5px 20px rgba(229, 140, 12, 0.4);
}

.cbtn-outline-orange:focus {
  outline: none;
}


// Container
.container-c {
  width: 88%;
  margin: 0 auto;
}


@media only screen {
  @media (min-width: $md) and (max-width: $lg) {
    .container-c {
      width: 90%;
    }
  }


  @media (min-width: $lg) and (max-width: $xl) {
    .container-c {
      width: 79%;
    }

  }

  @media (min-width: $xl) {
    .container-c {
      width: 75%;
    }
  }
}

