@import "../../assets/styles/Variables";

.navlogo {
  width: 150px;
}

.localizationBar {
  position: absolute;
  top: -15px;
  right: 22px;
  display: none !important;
  z-index: 10;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  i {
    font-size: 1.5rem;
    position: relative;
    top: -1px;
    margin-right: 10px;
    color: #ffbe00;
  }

  li:first-of-type {
    margin-right: 10px;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.navList {
  font-size: 1.5rem;

  i {
    display: inline-block;
    font-size: 1.4rem;
    color: white;
    border: 2px solid white;
    padding: 7px;
    border-radius: 5px;
  }

  ul {
    display: none;
  }
}


@media only screen {
  @media (min-width: $md) and (max-width: $lg) {
    .navlogo {
      width: 200px;
    }

    .localizationBar {
      top: -10px;
      right: 5vw;
      display: flex !important;
    }

    .container {
      width: 95%;
    }

    .navList {
      font-size: 1.3rem;
      margin-top: 2px;

      i {
        display: none;
      }

      ul {
        display: flex;

        li:not(:last-of-type) {
          margin-right: 3px;
        }
      }
    }
  }


  @media (min-width: $lg) and (max-width: $xl) {
    .navlogo {
      width: 250px;
    }

    .container {
      width: 80vw;
    }

    .localizationBar {
      top: -10px;
      right: 10.5vw;
      display: flex !important;
    }

    .navList {
      font-size: 1.5rem;
      margin-top: 2px;

      i {
        display: none;
      }

      ul {
        display: flex;

        li:not(:last-of-type) {
          margin-right: 3px;
        }
      }
    }
  }

  @media (min-width: $xl) {
    .navlogo {
      width: 300px;
    }

    .container {
      width: 75vw;
    }

    .localizationBar {
      top: 0;
      right: 13vw;
      display: flex !important;


    }

    .navList {
      font-size: 1.65rem;
      margin-top: 2px;

      i {
        display: none;
      }

      ul {
        display: flex;

        li:not(:last-of-type) {
          margin-right: 7px;
        }
      }
    }
  }
}