@import "../../assets/styles/Variables";

.navlogo {
  width: 150px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.navList {
  font-size: 1.5rem;

  i {
    display: inline-block;
    font-size: 1.4rem;
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
  }

  ul {
    display: none;
  }
}


@media only screen and (min-width: $md) and (max-width: $lg) {
  .navlogo {
    width: 200px;
  }

  .container {
    width: 95%;
  }

  .navList {
    font-size: 1.5rem;
    margin-top: 2px;

    i {
      display: none;
    }

    ul {
      display: flex;

      li:not(:last-of-type) {
        margin-right: 8px;
      }
    }
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl) {
  .navlogo {
    width: 250px;
  }

  .container {
    width: 80%;
  }

  .navList {
    font-size: 1.55rem;
    margin-top: 2px;

    i {
      display: none;
    }

    ul {
      display: flex;

      li:not(:last-of-type) {
        margin-right: 8px;
      }
    }
  }
}

@media only screen and (min-width: $xl) {
  .navlogo {
    width: 300px;
  }

  .container {
    width: 75%;
  }

  .navList {
    font-size: 1.8rem;
    margin-top: 2px;

    i {
      display: none;
    }

    ul {
      display: flex;

      li:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }
}


/*
@media screen and (orientation: landscape) {
  @media (max-width: $lg) {
    .navList {
      ul {
        font-size: 1.3rem;

        li:not(:last-of-type) {
          margin-right: 12px;
        }
      }
    }

    .container {
      width: 100%;
    }
  }
}


@media screen and (orientation: portrait) {
  @media (max-width: $lg) {
    .navList {
      ul {
        font-size: 1.3rem;

        li:not(:last-of-type) {
          margin-right: 20px;
        }
        
      }
    }

    .container {
      width: 95%;
    }
  }

  @media (max-width: $md) {
    .navList {
      ul {
        display: none;
      }

      i {
        display: inline-block;
      }
    }
  }

  @media (max-width: $sm) {
    .navList {
      margin-top: 0px;

      i {
        font-size: 1.2rem;
        border: 1px solid white;
        padding: 8px;
        border-radius: 4px;
      }
    }

    .navlogo {
      width: 130px;
    }
  }
}
*/
